In [3]:
# List
# Dictionary
# Tuple
# Looping
# Function

In [43]:
# List
contoh_list = ["Alvin", 12, 12.0, ['David', 'Dian'], {}, (), True]
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[-1])

Alvin
12
True

In [44]:
for i in contoh_list:
  print(i)

Alvin
12
12.0
['David', 'Dian']
{}
()
True

In [47]:
list_angka = [1,2,3,4,5,6,7,8,9,0]
for i in list_angka:
  if i == 0:
    print("Ada ankga 0 di list ini")

Ada ankga 0 di list ini

In [48]:
# Hilaingin angka 0
for idx, nilai in enumerate(list_angka):
  if nilai == 0:
    list_angka.remove(nilai)
list_angka

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
list_angka = [7,10,3,8,"Alvin","Dian",8,"Maryam",0]

In [53]:
for idx, nilai in enumerate(list_angka):
#  print("indeks: {}".format(idx))
#  print("nilai: {}".format(nilai))
  if nilai == 0:
    list_angka[idx] = "Nol"
list_angka

[7, 10, 3, 8, 'Alvin', 'Dian', 8, 'Maryam', 'Nol']

In [45]:
# Dictionary
contoh_dict = {2:"Alvin", "Dua belas":12, False:12.0, 3.0:['David', 'Dian'], "Dict":{}, 333:(), "Boolean":True}
print(contoh_dict[2])
print(contoh_dict["Dua belas"])
print(contoh_dict[False])
print(contoh_dict[3.0])

Alvin
12
12.0
['David', 'Dian']

In [46]:
for i in contoh_dict:
  print(i)

2
Dua belas
False
3.0
Dict
333
Boolean

In [5]:
# Contoh method di dict : keys()
contoh_dict.keys()

dict_keys([2, 'Dua belas', False, 3.0, 'Dict', 333, 'Boolean'])

In [6]:
# Contoh method di list
list1 = [3, 1, 2, 4, 5, 6]
list1.append("Alvin")
list1

[3, 1, 2, 4, 5, 6, 'Alvin']

In [7]:
list1.insert(4, "David")
list1

[3, 1, 2, 4, 'David', 5, 6, 'Alvin']

In [8]:
list_angka = [1,4,7,9,8]
list_angka.sort()
list_angka

[1, 4, 7, 8, 9]

In [9]:
list_angka.sort(reverse = True)
list_angka

[9, 8, 7, 4, 1]

In [10]:
list_angka.pop()
list_angka

[9, 8, 7, 4]

In [11]:
list_angka.remove(7)
list_angka

[9, 8, 4]

In [12]:
list_angka.remove(list_angka[1])
list_angka

[9, 4]

In [13]:
# Set
list_angka = [9,7,4,1,7]
list_angka

[9, 7, 4, 1, 7]

In [14]:
set_angka = set(list_angka)
set_angka

{1, 4, 7, 9}

In [15]:
list_angka = list(set_angka)
list_angka

[9, 4, 1, 7]

In [16]:
# Tuple
tuple_angka = (1,3,5,7,9,7)
tuple_angka[0]

1

In [17]:
contoh_dict = {2:"Alvin", "Dua belas":12, False:12.0, 3.0:['David', 'Dian'], "Dict":{}, 333:(), "Boolean":True}

In [20]:
contoh_dict["Alvin Buana"] = [100]

In [21]:
print(contoh_dict)

{2: 'Alvin', 'Dua belas': 12, False: 12.0, 3.0: ['David', 'Dian'], 'Dict': {}, 333: (), 'Boolean': True, 'Alvin Buana': [100]}

In [22]:
contoh_dict["Alvin Buana"].append(200)
print(contoh_dict)

{2: 'Alvin', 'Dua belas': 12, False: 12.0, 3.0: ['David', 'Dian'], 'Dict': {}, 333: (), 'Boolean': True, 'Alvin Buana': [100, 200]}

In [ ]:
#Mengosongkan data yg di key "Alvin Buana"
contoh_dict["Alvin Buana"] = None

In [ ]:
# delete key alvin buana beserta datanya
# contoh_dict.pop("Alvin Buana")
del contoh_dict["Alvin Buana"]
print(contoh_dict)

In [27]:
# Looping
for i in range(10):
  print("Hai ke-{}".format(i))

Hai ke-0
Hai ke-1
Hai ke-2
Hai ke-3
Hai ke-4
Hai ke-5
Hai ke-6
Hai ke-7
Hai ke-8
Hai ke-9

In [26]:
for i in range(0,25,3):
  print(i)

0
3
6
9
12
15
18
21
24

In [28]:
# while looping -> forever loop
a = 0
while a<20:
  print("a masih lebih kecil dari 20 {}".format(a))
  a +=1

a masih lebih kecil dari 20 0
a masih lebih kecil dari 20 1
a masih lebih kecil dari 20 2
a masih lebih kecil dari 20 3
a masih lebih kecil dari 20 4
a masih lebih kecil dari 20 5
a masih lebih kecil dari 20 6
a masih lebih kecil dari 20 7
a masih lebih kecil dari 20 8
a masih lebih kecil dari 20 9
a masih lebih kecil dari 20 10
a masih lebih kecil dari 20 11
a masih lebih kecil dari 20 12
a masih lebih kecil dari 20 13
a masih lebih kecil dari 20 14
a masih lebih kecil dari 20 15
a masih lebih kecil dari 20 16
a masih lebih kecil dari 20 17
a masih lebih kecil dari 20 18
a masih lebih kecil dari 20 19

In [29]:
# Umur user yang diinput tidak boleh dibawah 17
while True:
  umur = int(input())
  if umur >=17:
    break

12
14
16
17

In [30]:
while True:
  umur = int(input())
  if umur == 17:
    continue
  elif umur > 17:
    break
  print("jika dibawah umur 17 aku muncul")

15
jika dibawah umur 17 aku muncul
16
jika dibawah umur 17 aku muncul
17
18

In [34]:
# for else
for i in range(0,20,1):
  print(i)
  if i == 2:
    break
else:
  print("Aku akan muncul jika break tidak tereksekusi")

0
1
2

In [35]:
# Function
def nilai_terbesar_dari_dua_nilai(a,b):
  #masukan code kalian disini
  if a > b:
    return a
  else:
    return b

In [38]:
nilai_terbesar = nilai_terbesar_dari_dua_nilai(3,10)

In [39]:
nilai_terbesar+20

30

In [40]:
contoh_list = [nilai_terbesar_dari_dua_nilai]
contoh_list[0](3,10)

10